<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket | Révision</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Javascript -->
    <script src="/javascripts/scripts.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Révision websocket</h1>
    </header>

    <main>
      <section id="tchat-container">
        <ul>
          <li>coucou</li>
          <li>coucou</li>
          <li>coucou</li>
          <li>coucou</li>
          <li>coucou</li>
          <li>coucou</li>
        </ul>
      </section>

      <section>
        <form action="/" method="post">
          <div>
            <textarea name="message" placeholder="Votre message ici"></textarea>
          </div>
          <div>
            <button type="submit" id="submit">Envoyé</button>
          </div>
        </form>
      </section>
    </main>

    <footer>By Alain Guillon</footer>
  </body>
</html>
