<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket | Révision</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <h1>Révision Websocket</h1>
      </a>
    </header>

    <main>
      <section id="tchat-container">
        <ul>
          <li>Bienvenue</li>
        </ul>
      </section>

      <form action="" method="get" class="actions">
        <input
          autocomplete="off"
          autofocus
          type="text"
          name="msg"
          id="msg"
          placeholder="Veuillez saisir un message ici..."
        />
        <button>Go</button>
      </form>
    </main>

    <footer>By Alain Guillon</footer>

    <script src="/javascripts/scripts.js" defer></script>
  </body>
</html>
